<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">

<!-- input form begin -->
    <title>Demo</title>
</head>

<body>

<template>

    <div id="app" v-on:setCurrentArtist="setCurrentArtist">
    <script>

    import App from './main.js'
    import Vue from 'vue'


    new Vue ({
        el: 'app'
        render: h => h(App)
    })

        <div class="container">
        <div class="app-item" @click="artist.name">Add name:</div>
        </div>

        <div class="container">
        <div class="app-item" @click="artist.location">Add location:</div>
        </div>

        <div class="container">
        <div class="app-item" @click="artist.price">Add price:</div>
        </div>

        <div class="container">
        <div class="app-item" @click="artist.style">Add style:</div>
        </div>

        <div class="container">
        <div class="app-item" @click="artist.dates">Add dates:</div>
        </div>


        <div class="container">
        <div class="app-item" @click="artist.about"> Add additional information:</div>
        </div>

        <div class="container">
        <div class="app-item" @click="newArtist">Submit</div>    
        </div>

        <div class="container">
        <div class="app-item" @click="getAllArtist">Get all artists</div>
        </div>

        <item v-for="artist in artists" v-bind:artist="artist" :key="artist.key"></item>

        <user-profile v-bind:artist="currentArtist"></user-profile>

</template>

<!-- input form end -->

    </div>

    <script type="text/x-template" id="item-template">

        <div class="card" style="width:400px;">
            <img class="card-img-top" src="./img/djdj.jpg" alt="Card image" style="width:100%; height:250px">
            <div class="card-body">
                <h4 class="card-title">{{artist.name}}</h4>
                <p class="card-text" id="ab" v-show="seen">{{artist.about}}</p>
                <p class="card-text">Price: {{artist.price}}</p>
                <button class="btn btn-primary" v-on:click="renderProfile">See profile</button>
            </div>
        </div>

    </script>

    <script type="text/x-template" id="user-profile-template">
        <div>
            <nav class="navbar justify-content-between" style="background-color: #e8eaf6 ">
                <a class="navbar-brand">
                    <img src="./img/logo2.png" style="height:40px">
                </a>
                <button class="btn" 
                v-bind:class="{ 'btn-outline-secondary': this.isSuccessful, 'btn-outline-danger': this.isError }"
                type="submit"
                style="padding: 10px 15px; margin: 4px 2px; font-size: 17px; width: 70px"
                v-on:click="seen = !seen, updateArtist(artist.key, artist), toggleText(), switchClick()"
                >{{button.text}}</button>
            </nav>
            <!-- NAVBAR CODE END -->
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h2 style="padding: 25px">{{artist.name}}'s Profile Page</h2>
                        <br />
                    </div>
                </div>

                <!-- USER PROFILE ROW STARTS-->
                <div class="row">
                    <div class="col-md-3 col-sm-3 bg-light">
                        <h4>{{artist.name}}</h4>
                        <div class="user-wrapper">
                            <img style="width:100%" src="./img/djdj.jpg" class="img-responsive" />
                            <div class="mt-3 d-flex justify-content-around">
                                <button class="btn btn-outline-info" style="width: 110px">Book Me</button>
                                <button class="btn btn-outline-info">Send E-Mail</button>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-9 col-sm-9  user-wrapper">
                        <div class="description">
                            <div class=" justify-content-between">
                                <h3> About me: </h3>
                                
                            </div>
                            <hr />
                            <p>
                                <textarea id="updateInput" type="text" v-show="!seen"
                                 v-model="artist.about" rows="3" cols="70">
                                 </textarea>   
                                <span v-show="seen">{{artist.about}}</span>
                            </p>

                            <h3> Price: </h3>
                            <hr />
                            <p>
                                    <input id="updateInput" type="text" v-show="!seen" v-model="artist.price">
                                    <span v-show="seen">{{artist.price}}</span>
                                </p>

                            <h3> Style: </h3>
                            <hr />
                            <p>
                                    <input id="updateInput" type="text" v-show="!seen" v-model="artist.style">
                                    <span v-show="seen">{{artist.style}}</span>
                                </p>

                            <h3> Dates: </h3>
                            <hr />
                            <p>
                                    <input id="updateInput" type="text" v-show="!seen" v-model="artist.dates">
                                    <span v-show="seen">{{artist.dates}}</span>
                                </p>

                            <h3> Location: </h3>
                            <hr />
                            <p>
                                    <input id="updateInput" type="text" v-show="!seen" v-model="artist.location">
                                    <span v-show="seen">{{artist.location}}</span>
                                </p>

                            <h3> Music examples: </h3>
                            <hr />
                            <div>
                                SOME MUSIC EXAMPLES
                            </div>
                            <button class="btn btn-danger mt-5 mb-5 float-right" v-on:click="removeArtist(artist.key)">Delete Profile</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </script>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
    <script src="./main.js"></script>
</body>

</html>